<h3> {{ photo.title }} Details:</h3>
<div class="detailPhoto"><img src="{{ photoDisplayUrl }}"></div>
  <div *ngIf="!editing">
    <div><span>Title: </span> {{ photo.title }}</div>
    <div><span>Description: </span>{{ photo.description }}</div>
    <div><span>Updated: </span>{{ photo.updatedAt }} | <span>Created: </span>{{ photo.createdAt }}</div>
    <button class="btn btn-link" (click)="setEditMode(true)">Edit</button>
    <a class="btn btn-link" href="/#/">back to gallery</a>
  </div>

  <div *ngIf="editing">
    <form #form="ngForm" (ngSubmit)="updatePhoto(form.value)">
    <div class="form-group">
        <label for="titleField">Title:</label>
        <input #title name="titleField" class="form-control" [ngModel]="photo.title">
        <br />
        <label for="descField">Description:</label>
        <input name="descField" class="form-control" [ngModel]="photo.description">
     </div>
     <button type="submit">Save</button>
     <button (click)="deletePhoto()">Delete</button>
     <button class="btn btn-link" (click)="setEditMode(false)">Hide Edit Menu</button>
</form>
</div>
