body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control{
  max-width: 250px;
}

.list-group-item{
  max-width: 1000px;
}

#submit{
  margin-top: 15px;
}