<div class="container">
  <div class="row">
          <app-photo class="col-sm-3"
            *ngFor='let photoObject of photoList'
            [photo]="photoObject"
            [baseUrl]="photoUrl"
            (upvotedEvent)="handleUpvoted($event)">
          </app-photo>
        </div>
<button class="btn btn-link" *ngIf="!addNew" (click)="setAddMode(true)">Add Photo Menu</button>
<button class="btn btn-link" *ngIf="addNew" (click)="setAddMode(false)">Hide Add Photo Menu</button>
</div>
<div *ngIf="addNew">
  <app-newphoto (newPhoto) = "updatePhotoList()"></app-newphoto>
</div>