/* Button style is copied from google homepage */
button{
    background-color: #f8f9fa;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

li{
    list-style: none;
}

ul{
    padding: 20px;
}